{% extends 'base.html' %}

{% block body %}

<h1>Inventory</h1>


<p>
    <div class="col">
        <a href="{{ url_for('itemNew') }}" class="btn btn-primary btn-sm mt-5" role="button">New item</a>
    </div>
</p>

<form method="get">
    {% for item in items %}
        Item: {{ item.item }} <br>
        Price: ${{ item.price }} <br>
        Stock: {{ item.stock }} <br>
        <p>
            <a href="{{ url_for('itemView', itemID = item.id) }}" class="btn btn-dark" role="button">View item</a>
        </p>
    {% endfor %}
</form>

{% endblock %}